#projets {
  width: 90%;
  max-width: 1200px;
  margin: 1rem auto 2rem;
  height: 700px;
  position: relative;

  h2 {
    text-align: center;
    font-family: "Orelega";
    font-weight: 100;
    margin: 3rem 0;

    &::after {
      content: "";
      position: absolute;
      border-top: 4px solid rgba(255, 166, 0, 0.637);
      width: 100px;
      top: 30px;
      left: 50%;
      transform: translateX(-60%);
      z-index: -1;
    }
  }

  .container-projets {
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    h3 {
      font-family: "Bricolage";
      font-weight: 600;
      font-size: 16px;
      margin: 1.5rem 0;
    }
    a {
      text-align: right;
      text-transform: uppercase;
      color: orange;
      font-family: "Bricolage";
      margin: 1rem 0;
    }
    .projet1 {
      display: flex;
      height: 300px;
      width: 500px;
      position: absolute;
      top: 0;
      left: 0;

      .img1 {
        background: url(/Assets/imgs/leresto.jpg) center/cover;
        border-radius: 50px;
        height: 200px;
        width: 200px;
        margin: auto;
        box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
      }
      .projet1-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        height: 250px;
        width: 250px;
        margin: 1rem;
      }
    }
    .projet2 {
      display: flex;
      height: 300px;
      width: 500px;
      position: absolute;
      top: 65px;
      left: 670px;
      .img2 {
        background: url(/Assets/imgs/lamontagne.jpg) center/cover;
        border-radius: 50px;
        height: 200px;
        width: 200px;
        margin: auto;
        box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
      }
      .projet2-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        height: 250px;
        width: 250px;
        margin: 1rem;
      }
    }
    .projet3 {
      display: flex;
      height: 300px;
      width: 500px;
      position: absolute;
      top: 325px;
      left: 200px;
      .img3 {
        background: url(/Assets/imgs/gamingcampus.jpg) center/cover;
        border-radius: 50px;
        height: 200px;
        width: 200px;
        margin: auto;
        box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
      }
      .projet3-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        height: 250px;
        width: 250px;
        margin: 1rem;
      }
    }
  }

  .button-projet {
    position: absolute;
    top: 100%;
    left: 950px;
    transition: 0.2s ease;
    &:hover {
      transform: scale(1.05);
    }
    a {
      text-transform: uppercase;
      color: orange;
      font-family: "Bricolage";
      margin: 1rem 0;
    }
  }
}
