@font-face {
  font-family: "Orelega";
  src: url(/Assets/fonts/Orelega_One/OrelegaOne-Regular.ttf);
}
@font-face {
  font-family: "Bricolage";
  src: url(/Assets/fonts/Bricolage_Grotesque/static/BricolageGrotesque-Regular.ttf);
}

@font-face {
  font-family: "Open";
  src: url(/Assets/fonts/Open_Sans/static/OpenSans-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 255, 255);
}

li {
  list-style: none;
  cursor: pointer;
}

p {
  font-family: "Bricolage";
  line-height: 20px;
}
span {
  font-family: "Open";
  font-size: 12px;
}
i {
  color: orange;
  font-size: 15px;
  padding: 0 5px;
}
a {
  text-decoration: none;
  transition: 0.2s ease;
  &:hover {
    transform: scale(1.05);
  }
}
