#technologies {
  width: 80%;
  max-width: 1000px;
  margin: 4rem auto;
  h2 {
    font-family: "Orelega";
    font-weight: 100;
    margin: 3rem 0;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      border-top: 4px solid rgba(255, 166, 0, 0.637);
      width: 100px;
      top: 30px;
      left: 0;
      z-index: -1;
    }
  }
  h3 {
    font-family: "Open";
  }
  .box-container {
    display: grid;
    grid-template-columns: 33% 34% 33%;
    height: 400px;

    div {
      border: 1px solid orange;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0.5rem;
      border-radius: 5px;
      box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
    }
  }
  img {
    height: 100%;
    max-height: 80px;
    width: 100%;
    max-width: 80px;
    margin: 1rem;
  }
}
